<html>

<head>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <script src="./app.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />

    <link href="./style.css" rel="stylesheet" />

    <title>AUSL Admin</title>
    <style>
        .divider {
            margin: 10px 0;
        }

        .row-container textarea {
            min-height: 150px;
        }

        .site-information {
            font-size: 10pt !important;
            color: grey;
            font-style: italic;
        }
    </style>
</head>

<body>
    <nav>
        <div class="nav-wrapper blue darken-4">
            <a href="#" class="brand-logo">AUSL - Admin</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="#">Site Data</a></li>
                <li><a href="#">Admins</a></li>
                <li><a href="#">Documents</a></li>
            </ul>
        </div>
    </nav>

    <div class="row" style="margin-top: 6px;">
        <div class="col s8 offset-s2">
            <ul class="tabs">
                <li class="tab col s3"><a href="#general">General</a></li>
                <li class="tab col s3"><a href="#team">Team Info</a></li>
                <li class="tab col s3"><a href="#sponsor">Sponsor/TA</a></li>
                <li class="tab col s3"><a href="#media">Media Carousel</a></li>
            </ul>
        </div>
    </div>
    <div class="divider"></div>

    <div id="team_info_container">
        <div class="year-selector row">
            <div class="col s3 offset-s2">
                <label for="choose_year">Choose academic year</label>         
                <select id="choose_year" class="browser-default" v-on:change="changeYear">
                    <option value="2019">2019-2020</option>
                    <option value="2018">2018-2019</option>
                </select>
            </div>
        </div>
        <div class="divider"></div>
        <div id="team_information_rows">
            <div class="row-container row" v-for="(team, idx) in teams" :data-id="idx">
                <div class="col s1 offset-s2">
                    <div>
                        <a class="waves-effect waves-light btn blue lighten-1" v-on:click="moveTeamUp(idx)"><i class="material-icons">arrow_upward</i></a>
                    </div>
                    Team #{{idx + 1}}
                    <div>
                        <a class="waves-effect waves-light btn blue lighten-1" v-on:click="moveTeamDown(idx)"><i class="material-icons">arrow_downward</i></a>   
                    </div>
                </div>
                <div class="col s6">
                    <div class="row">
                        <div class="col s6 input-field">
                            <input placeholder="Team Lead" id="team_lead" type="text" v-model="team.teamLead" />
                            <label for="team_lead">Team Lead</label>
                        </div>
                        <div class="col s6 input-field">
                            <input placeholder="Lead Email" id="lead_email" type="text" v-model="team.email" />
                            <label for="lead_email">Lead Email</label>
                        </div>
                        <div class="col s12 input-field">
                            <input placeholder="Team Name/Description" id="team_name" type="text" v-model="team.teamName" />
                            <label for="team_name">Team Name/Description</label>
                        </div>
                        <div class="col s12 input-field">
                            <div style="font-size: 0.8rem; color: #9e9e9e;">Lead Picture</div>
                            <div class="">{{ team.image }}</div>
                            <input type="file" />
                        </div>
                        <div class="col s12 input-field">
                            <textarea class="materialize-textarea" placeholder="Team Lead Description" id="lead_description" v-model="team.desc" style="margin: 7px 0;"></textarea>
                            <label for="lead_description">Team Lead Description</label>
                        </div>
                    </div>
                    <div class="row-actions row">
                        <div class="col s3 offset-s9">
                            <a style="float: right" class="waves-effect waves-light btn red" v-on:click="removeTeam(idx)"><i class="material-icons left">remove</i>remove</a>
                        </div>
                    </div>
                </div>
                <div class="col s12 divider"></div>
            </div>

        </div>
        <div class="page-actions row" style=
            "position: fixed; 
            bottom: 0; 
            width: 65%; 
            margin: 0 17.5%; 
            background-color: rgba(0, 0, 0, .6);
            z-index: 10;
            padding: 15px 0;
            border-radius: 10px 10px 0 0;">
            <div class="col s12 center-align">
                <a class="waves-effect waves-light btn blue" v-on:click="addTeam"><i class="material-icons left">add</i>add team lead</a>
                <a class="waves-effect waves-light btn blue"  v-on:click="saveChanges" v-bind:class=" { disabled: !unsavedChanges } "><i class="material-icons left">check</i>save changes</a>
                <a class="waves-effect waves-light btn red modal-trigger" href="#confirm-discard-changes" v-bind:class=" { disabled: !unsavedChanges } "><i class="material-icons left">delete</i>discard changes</a>
            </div>
        </div>


        <!-- confirm discard changes modal -->
        <div id="confirm-discard-changes" class="modal">
            <div class="modal-content">
                <h4>Discard Changes</h4>
                <p>Are you sure you want to discard all changes since you last saved?</p>
            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-close waves-effect waves-green btn-flat" v-on:click="discardChanges">Discard</a>
                <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancel</a>
            </div>
        </div>
    </div>


    <div class="site-information">
        <div>Tool by Kevin Hubbard</div>
        <div>AU C/O 2019</div>
        <div>klh0058@auburn.edu / 1hubbardkl@gmail.com</div>
        <div>Site made using Materialize and Vue.js</div>
    </div>
    
</body>

</html>